<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Student Registration</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Vue.js -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <!-- Axios (for making HTTP requests) -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="style.css">


</head>

<body>

  <div id="app" class="mt-5">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#studentModal">Register Student</button>

    <div class="row">
       {{students?.students?.length}} <br> <br>

      <div class="teacher-cards">
        <div class="teacher-card " v-for="student in students.students" :key="student._id">
          <div class="card-left">
            <img v-if="student.studentImage" :src="student.studentImage" alt="">
            <img v-else src="https://placehold.co/400" alt="Placeholder Image">
          </div>
          <div class="card-right">
            <h2>{{student.fullName}}</h2>
            <div>
              <div class="part">
                <span>গ্রাম:{{student.address?.village}}</span>
                <span>ইউনিয়ন: {{student.address?.union}}</span>
              </div>
              <div class="part">
                <span>থানা:{{student.address?.upazila}}</span>
                <span>জেলা: {{student.address?.district}}</span>
              </div>
              <div class="part">
                <span>রক্তের গ্রুপ:কাপাসিয়া</span>
                <a class="tel-btn" :href="'tel:' + student.guardian?.phoneNumber">কল</a>
              </div>
            </div>
          </div>



          <!-- delete btn  -->
          <span class="delete" data-bs-toggle="modal" data-bs-target="#deletemodal" @click="selectDelete(student)">
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="crimson" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
              <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
            </svg>
          </span>

          <span class="edit" data-bs-toggle="modal" data-bs-target="#EditModal">
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="green" class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
            </svg>
          </span>
        </div>

      </div>
    </div>

    <!-- Student Registration Modal -->
    <div class="modal fade" id="studentModal" tabindex="-1">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Student Registration</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form @submit.prevent="registerStudent">
              <!-- Form fields for student registration -->
              <div class="row g-3">

                <div class="col-12 col-md-6">
                  <div class="input-group">
                    <label for="fullName" class="input-group-text">নাম:</label>
                    <input type="text" class="form-control shadow-none" id="fullName" v-model="student.fullName" required>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="input-group">
                    <label for="dob" class="input-group-text">জন্ম:</label>
                    <input type="date" class="form-control shadow-none" id="dob" v-model="student.dateOfBirth" required>
                  </div>
                </div>

                <div class="col-12 col-md-6">
                  <div class="input-group">
                    <label for="gender" class="input-group-text">লিঙ্গ:</label>
                    <select class="form-select shadow-none" id="gender" v-model="student.gender" required>
                      <option value="" disabled selected>Select gender</option>
                      <option value="Male">Male</option>
                      <option value="Female">Female</option>
                      <option value="Other">Other</option>
                    </select>
                  </div>
                </div>

                <div class="col-8 col-md-6">
                  <div class="input-group">
                    <label for="studentImage" class="input-group-text">ছবি:</label>
                    <input id="studentImage" type="file" @change="onFileChange" accept="image/*" class="form-select shadow-none input-sm">
                  </div>
                </div>
                <div class="col-4 col-md-6">
                  <div v-if="!uploadedImage && !isloading">
                    <img src="https://placehold.co/400" alt="" class="image-thumnail">
                  </div>

                  <div v-if="isloading">
                    <div class="spinner-border text-primary" role="status"></div>
                    <span class="sr-only">Loading...</span>
                  </div>

                  <img v-else :src="uploadedImage" alt="" class="image-thumnail">
                </div>

                <div class="col-12 col-md-6">
                  <div class="input-group">
                    <label for="dob" class="input-group-text">ফোন:</label>
                    <input type="text" class="form-control" id="phone" v-model="student.phone" required>

                  </div>
                </div>

                <div class="col-12 col-md-6">
                  <div class="input-group">
                    <label for="studentClass" class="input-group-text">শ্রেণী</label>
                    <select class="form-select shadow-none" id="studentClass" v-model="student.studentClass" required>
                      <option value="" disabled selected>শ্রেণী নির্বাচন করুন</option>
                      <option v-for="classItem in classess" :key="classItem._id" :value="classItem.className">
                        {{ classItem.className }}
                      </option>
                    </select>
                  </div>

                </div>

                <div class="col-12 col-md-6">
                  <div class="input-group">
                    <label for="village" class="input-group-text">গ্রাম/ পাড়া:</label>
                    <input type="text" v-model="student.address.village" class="form-control shadow-none" required>
                  </div>
                </div>

                <div class="col-6 col-md-3">
                  <div class="input-group">
                    <label for="divisionSelect" class="input-group-text">বিভাগ</label>
                    <select id="divisionSelect" v-model="selectedDivision" @change="handleDivisionChange" class="form-select shadow-none">
                      <option value="" disabled>বিভাগ নির্বাচন করুন</option>
                      <option v-for="division in divisions" :value="division" class="h1">{{ division.bn_name }}</option>
                    </select>
                  </div>
                </div>


                <div class="col-6 col-md-3">
                  <div class="input-group">
                    <label for="districtSelect" class="input-group-text">জেলা</label>
                    <select id="districtSelect" v-model="selectedDistrict" @change="handleDistrictChange" class="form-select shadow-none" :disabled="!selectedDivision">
                      <option value="" disabled>Select District</option>
                      <option v-for="district in filteredDistricts" :value="district">{{ district.bn_name }}</option>
                    </select>
                  </div>
                </div>
                <div class="col-6 col-md-3">
                  <div class="input-group">
                    <label for="upazilaSelect" class="input-group-text">উপজেলা</label>
                    <select id="upazilaSelect" v-model="selectedUpazila" class="form-select shadow-none" :disabled="!selectedDistrict">
                      <option value="" disabled>Select Upazila</option>
                      <option v-for="upazila in filteredUpazilas" :value="upazila">{{ upazila.bn_name }}</option>
                    </select>
                  </div>
                </div>
                <div class="col-6 col-md-3">
                  <div class="input-group">
                    <label for="unionSelect" class="input-group-text">ইউনিয়ন</label>
                    <select id="unionSelect" v-model="selectedUnion" class="form-select shadow-none" :disabled="!selectedUpazila">
                      <option value="" disabled>Select Union</option>
                      <option v-for="union in filteredUnions" :value="union">{{ union.bn_name }}</option>
                    </select>
                  </div>
                </div>

              </div>

              <!-- Inside the modal form -->

              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Stident  delete  -->
    <div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete Confirmation</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete {{this.selectedStudent?.fullName}}
            ?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger" @click="confirmDelete(selectedStudent?._id)" data-bs-dismiss="modal">Delete</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Vue.js -->
  <!-- ... (your existing HTML code) ... -->

  <script>
    new Vue({
      el: '#app',
      data() {
        return {
          divisions: [],
          districts: [],
          upazilas: [],
          unions: [],
          selectedDivision: null,
          selectedDistrict: null,
          selectedUpazila: null,
          selectedUnion: null,
          students: [],
          selectedStudent: null,
          isloading:false,
          selectedFile:null,
          uploadedImage:null,
          student: {
            fullName: 'কাওছার',
            dateOfBirth: '',
            gender: '',
            phone: '0425765557',
            madrasa:'656ae3d634f41a559c2ba86b',
            studentImage:'ok',
            address: {
              village: 'lohadi',
              thana: 'কাপাসিয়া',
              district: 'গাযিপুর',
              division: 'dhaka',
              union: 'sollarmor'
            },
            guardian: {
              fullName: 'ok',
              phoneNumber: '086456'
            },
            studentClass: '' // Add studentClass to the data object
            // Add other fields here
          },
          classess: null
        };
      },
      mounted() {
        this.fetchClassess()
      },
      computed: {
        filteredDistricts() {
          if (!this.selectedDivision) {
            return [];
          }
          return this.districts.filter(district => district.division_id === this.selectedDivision.id);
        },
        filteredUpazilas() {
          if (!this.selectedDistrict) {
            return [];
          }
          return this.upazilas.filter(upazila => upazila.district_id === this.selectedDistrict.id);
        },
        filteredUnions() {
          if (!this.selectedUpazila) {
            return [];
          }
          return this.unions.filter(union => union.upazilla_id === this.selectedUpazila.id);
        },
      },
      methods: {
        async onFileChange(e) {
          this.isloading=true
          this.selectedFile = e.target.files[0]; // Store the selected file in selectedFile property

          try {
            const formData = new FormData();
            formData.append('image', this.selectedFile);

            const response = await fetch('https://api.imgbb.com/1/upload?key=6d9e72da0846d4357c13a69737f5ca97', {
              method: 'POST',
              body: formData,
            });

            const data = await response.json();
            console.log('ImageBB Upload Response:', data.data);

            // Assuming you want to store the uploaded image URL somewhere, you can access it from 'data' and save it to a variable or use it directly
            this.student.studentImage = data.data.url;
            // You can use this 'imageUrl' for further operations or store it in your database
            this.uploadedImage = data.data.url
            this.isloading=false
          } catch (error) {
            console.error('Error uploading to ImageBB:', error);
            this.isloading=false
            // Handle error as needed
          }
        },
        
        selectDelete(student) {
          this.selectedStudent = student
        },
        fetchData() {
          // Fetch data from JSON files
          fetch('/data/divisions.json')
            .then(response => response.json())
            .then(data => {
              this.divisions = data;
              // Set isLoading to false after data is loaded
            });

          fetch('/data/districts.json')
            .then(response => response.json())
            .then(data => this.districts = data);

          fetch('/data/upazilas.json')
            .then(response => response.json())
            .then(data => this.upazilas = data);

          fetch('/data/unions.json')
            .then(response => response.json())
            .then(data => this.unions = data);
        },
        async getAllStudents() {
          try {
            const response = await axios.get('http://0.0.0.0:8080/api//student/list');
            console.log(response)
            this.students = response.data;
          } catch (error) {
            console.error(error);
            // Handle error, show error message, etc.
          }
        },

        async fetchClassess() {
          try {
            const response = await axios.get('http://0.0.0.0:8080/api//class/list');
            console.log(response)
            this.classess = response.data;
          } catch (error) {
            console.error('Error fetching madrasas:', error.response.data);
            // Handle error as needed
          }
        },
        async registerStudent() {
          try {
            const {
              fullName,
              dateOfBirth,
              gender,
              phone,
              studentClass,
              studentImage,
              madrasa,
              address: { village, thana, district, division, union },
              guardian: { fullName: guardianFullName, phoneNumber: guardianPhoneNumber }
            } = this.student;

            const studentData = {
              fullName,
              dateOfBirth,
              gender,
              phone,
              studentClass,
              studentImage,
              madrasa,
              address: {
                village,
                upazila: this.selectedUpazila ? this.selectedUpazila.bn_name : 'Not selected',
                district: this.selectedDistrict ? this.selectedDistrict.bn_name : 'Not selected',
                division: this.selectedDivision ? this.selectedDivision.bn_name : 'Not selected',
                union: this.selectedUnion ? this.selectedUnion.bn_name : 'Not selected'
              },
              guardian: {
                fullName: guardianFullName,
                phoneNumber: guardianPhoneNumber
              },
             
            };
            console.log(studentData)

            // Send studentData to your API endpoint using Axios or fetch
            // Example using Axios:
            const response = await axios.post('http://0.0.0.0:8080/api//student/create', studentData);

            console.log('Student data:', response);

            // Clear the form fields after successful submission
            this.student = {
              fullName: '',
              dateOfBirth: '',
              gender: '',
              phone: '',
              studentImage,
              address: {
                village: '',
                thana: '',
                district: '',
                division: '',
                union: ''
              },
              guardian: {
                fullName: '',
                phoneNumber: ''
              },
              studentClass: ''
              // Reset other fields as needed
            };

            // Hide the modal after successful submission
            const modal = new bootstrap.Modal(document.getElementById('studentModal'));
            modal.hide();
          } catch (error) {
            console.error(error.response.data);
            // Handle errors accordingly
          }
        },
        async confirmDelete(id) {
          alert(id)
          try {
            const response = await axios.delete('http://0.0.0.0:8080/api//student/delete/' + id);
            fetchTeachers()
          } catch (error) {
            console.error('Error deleting teacher  ', error)
          }
        },

        handleDivisionChange() {
          this.selectedDistrict = null;
          this.selectedUpazila = null;
          this.selectedUnion = null;
        },
        handleDistrictChange() {
          this.selectedUpazila = null;
          this.selectedUnion = null;
        },
      },
      
      created() {
        this.fetchData();
        this.getAllStudents()
      }

    });
  </script>


</body>

</html>