<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

<head>
   <!-- Add your meta tags and title here -->

   <!-- Bootstrap CSS -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet" href="style.css">
   <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
   <style>
      /* Style for the skeleton loader */
      .skeleton-loader {
         width: 100%;
         border-collapse: collapse;
         margin-top: 0px;
      }

      .skeleton-row {
         display: flex;
         align-items: center;
         padding: 10px 0;
         background: #fff;
         margin-bottom: 10px;
      }

      .skeleton-thumbnail {
         width: 80px;
         height: 80px;
         background-color: #ccc;
         border-radius: 0%;
         margin-right: 20px;
      }

      .skeleton-info {
         flex: 1;
      }


      /* Adjustments for responsiveness */
      @media (max-width: 768px) {
         .skeleton-row {
            flex-direction: column;
            align-items: flex-start;
         }

         .skeleton-thumbnail {
            margin-right: 0;
            margin-bottom: 10px;
         }
      }
   </style>
</head>

<body>

   <div id="app" class="container mt-4">
      <div class="d-flex justify-content-between gap-2">
         <div>
            <label for="filterMadrasa">Filter </label>
            <select v-model="selectedMadrasa" @change="filterTeachers" class="form-control">
               <option value="">All Madrasas</option>
               <option v-for="madrasa in madrasas" :key="madrasa._id" :value="madrasa.name">
                  {{ madrasa.name }}
               </option>
            </select>
         </div>
         <div>
            <label for="searchTeachers">Search Teachers: {{ searchQuery }}</label>
            <input type="text" v-model="searchQuery" class="form-control shadow-none">


         </div>



      </div>

      <h2 class="mt-4">শিক্ষকদের তালিকা</h2>
      <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#createTeacherModal">
         শিক্ষক এড
      </button> <br> <br>

      <div v-if="teacherLength === null">
         <div class="skeleton-loader">
            <div class="skeleton-row" v-for="n in 5" :key="n">
               <div class="skeleton-thumbnail"></div>
               <div class="skeleton-info">
                  <div class="skeleton-line"></div>
                  <div class="skeleton-line"></div>
                  <div class="skeleton-line"></div>
                  <div class="skeleton-line"></div>
               </div>
            </div>
         </div>
      </div>

      <div class="teacher-cards">
         <div class="teacher-card" v-for="teacher in filteredTeachers" :key="teacher._id">
            <div class="card-left">
               <img v-if="teacher.nidImage" :src="teacher.nidImage" alt="">
               <img v-else src="https://placehold.co/400" alt="Placeholder Image">
            </div>
            <div class="card-right">
               <h2>{{teacher.name}}</h2>
               <div>
                  <div class="part">
                     <span>গ্রাম:{{teacher.village}}</span>
                     <span>ইউনিয়ন: {{teacher.village}}</span>
                  </div>
                  <div class="part">
                     <span>থানা:{{teacher.upazila}}</span>
                     <span>জেলা: {{teacher.district}}</span>
                  </div>
                  <div class="part">
                     <span>রক্তের গ্রুপ:কাপাসিয়া</span>
                     <a class="tel-btn" :href="'tel:' + teacher.phone">কল</a>
                  </div>
               </div>
            </div>

            <!-- delete btn  -->
            <span class="delete" data-bs-toggle="modal" data-bs-target="#deletemodal" @click="selectDelete(teacher)">
               <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="crimson" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
               </svg>
            </span>

            <span class="edit" data-bs-toggle="modal" data-bs-target="#EditModal">
               <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="green" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
               </svg>
            </span>
         </div>
      </div>



      <!-- Modal -->
      <!-- Modal -->
      <div class="modal fade" id="createTeacherModal" tabindex="-1" aria-labelledby="createTeacherModalLabel" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="createTeacherModalLabel">Create Teacher</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               <div class="modal-body">
                  <form @submit.prevent="createTeacher">

                     <!--  
              <div class="mb-3">
                <label for="village">Village:</label>
                <input type="text" v-model="newTeacher.village" class="form-control">
              </div>
              <div class="mb-3">
                <label for="upazila">Upazila:</label>
                <input type="text" v-model="newTeacher.upazila" class="form-control">
              </div>
              <div class="mb-3">
                <label for="district">District:</label>
                <input type="text" v-model="newTeacher.district" class="form-control">
              </div> 
              <div class="mb-3">
                <label for="division">Division:</label>
                <input type="text" v-model="newTeacher.division" class="form-control">

                <div class="input-group">
                  <label for="divisionSelect" class="input-group-text">বিভাগ</label>
                  <select id="divisionSelect" v-model="selectedDivision" @change="handleDivisionChange" class="form-select shadow-none">
                    <option value="" disabled>বিভাগ নির্বাচন করুন</option>
                    <option v-for="division in divisions" :value="division" class="h1">{{ division.bn_name }}</option>
                  </select>
                </div>

              </div> -->

                     <div class="row g-3">
                        <div class="col-12 col-md-6">
                           <div class="input-group">
                              <label for="name" class="input-group-text">নাম:</label>
                              <input type="text" v-model="newTeacher.name" class="form-control shadow-none" required>
                           </div>
                        </div>
                        <div class="col-12 col-md-6">
                           <div class="input-group">
                              <label for="phone" class="input-group-text">মোবাইল:</label>
                              <input type="number" v-model="newTeacher.phone" class="form-control shadow-none" required>
                           </div>
                        </div>
                        <div class="col-12 col-md-6">
                           <div class="input-group">
                              <label for="phone" class="input-group-text">পাসওয়ার্ড :</label>
                              <input type="number" v-model="newTeacher.password" class="form-control shadow-none" required>
                           </div>
                        </div>
                        <div class="col-6 col-md-3">
                           <div class="input-group">
                              <label for="divisionSelect" class="input-group-text">বিভাগ</label>
                              <select id="divisionSelect" v-model="selectedDivision" @change="handleDivisionChange" class="form-select shadow-none">
                                 <option value="" disabled>বিভাগ নির্বাচন করুন</option>
                                 <option v-for="division in divisions" :value="division" class="h1">{{ division.bn_name }}</option>
                              </select>
                           </div>
                        </div>

                        <div class="col-6 col-md-3">
                           <div class="input-group">
                              <label for="districtSelect" class="input-group-text">জেলা</label>
                              <select id="districtSelect" v-model="selectedDistrict" @change="handleDistrictChange" class="form-select shadow-none" :disabled="!selectedDivision">
                                 <option value="" disabled>Select District</option>
                                 <option v-for="district in filteredDistricts" :value="district">{{ district.bn_name }}</option>
                              </select>
                           </div>
                        </div>
                        <div class="col-6 col-md-3">
                           <div class="input-group">
                              <label for="upazilaSelect" class="input-group-text">উপজেলা</label>
                              <select id="upazilaSelect" v-model="selectedUpazila" class="form-select shadow-none" :disabled="!selectedDistrict">
                                 <option value="" disabled>Select Upazila</option>
                                 <option v-for="upazila in filteredUpazilas" :value="upazila">{{ upazila.bn_name }}</option>
                              </select>
                           </div>
                        </div>
                        <div class="col-6 col-md-3">
                           <div class="input-group">
                              <label for="unionSelect" class="input-group-text">ইউনিয়ন</label>
                              <select id="unionSelect" v-model="selectedUnion" class="form-select shadow-none" :disabled="!selectedUpazila">
                                 <option value="" disabled>Select Union</option>
                                 <option v-for="union in filteredUnions" :value="union">{{ union.bn_name }}</option>
                              </select>
                           </div>
                        </div>
                        <div class="col-12 col-md-6">
                           <div class="input-group">
                              <label for="village" class="input-group-text">গ্রাম/ পাড়া:</label>
                              <input type="text" v-model="newTeacher.village" class="form-control shadow-none" required>
                           </div>
                        </div>


                        <div class="col-8 col-md-6">
                           <div class="input-group">
                              <label for="nidImage" class="input-group-text">ছবি:</label>
                              <input type="file" @change="onFileChange" accept="image/*" class="form-select shadow-none input-sm">
                           </div>
                        </div>
                        <div class="col-4 col-md-6">
                           <div v-if="!uploadedImage && !isloading">
                              <img src="https://placehold.co/400" alt="" class="image-thumnail">
                           </div>

                           <div v-if="isloading">
                              <div class="spinner-border text-primary" role="status"></div>
                              <span class="sr-only">.</span>
                           </div>

                           <img v-else :src="uploadedImage" alt="" class="image-thumnail">
                        </div>

                        <div class="col-12 col-md-6">
                           <div class="input-group">
                              <label for="emergencyPhoneNumber" class="input-group-text">ইমার্জেন্সি:</label>
                              <input type="text" v-model="newTeacher.emergencyPhoneNumber" class="form-control">
                           </div>
                        </div>

                        <div class="col-12 col-md-6">
                           <div class="input-group">
                              <label for="madrasa" class="input-group-text">মাদরাসা</label>
                              <select v-model="newTeacher.madrasa" class="form-control shadow-none">
                                 <option v-for="madrasa in madrasas" :key="madrasa._id" :value="madrasa">
                                    {{ madrasa.name }}
                                 </option>
                              </select>
                              
                           </div>
                        </div>
                     </div>
                     <div class="mb-3">

                     </div>
                     <button type="submit" class="btn btn-success">শিক্ষক এড করুন</button>
                  </form>
               </div>
            </div>
         </div>
      </div>


      <!-- delete modal -->
      <div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="deleteModalLabel">Delete Confirmation</h5>
                  <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  Are you sure you want to delete this item?
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-danger" @click="confirmDelete(selectedTeacher._id)">Delete</button>
               </div>
            </div>
         </div>
      </div>


      <!-- edit modal -->
      <div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="EditModalLabel" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <!-- Modal Header -->
               <div class="modal-header">
                  <h5 class="modal-title" id="EditModalLabel">Edit Content</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               <!-- Modal Body -->
               <div class="modal-body">
                  <!-- Your form or content for editing -->
                  <!-- Example form -->
                  <form>
                     <label for="editInput">Edit Input:</label>
                     <input type="text" id="editInput" name="editInput">
                  </form>
               </div>
               <!-- Modal Footer -->
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
               </div>
            </div>
         </div>
      </div>


   </div>


   <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

   <script>
      new Vue({
         el: '#app',
         data: {

            divisions: [],
            districts: [],
            upazilas: [],
            unions: [],
            selectedDivision: null,
            selectedDistrict: null,
            selectedUpazila: null,
            selectedUnion: null,
            uploadedImage: '',
            isloading: false,


            newTeacher: {
               name: '',
               phone: '',
               village: '',
               upazila: '',
               district: '',
               division: '',
               nidImage: '',
               emergencyPhoneNumber: '',
               madrasa: '',
               password:'',
               madrasaName:''

            },
            selectedFile: null,
            madrasas: [],
            teachers: [],
            allTeachers: [],
            selectedMadrasa: '',
            searchQuery: '',
            selectedTeacher: null,
            teacherLength:null,
         },
         mounted() {
            this.fetchMadrasas();
            this.fetchTeachers();
         },
         methods: {
            async onFileChange(e) {
               this.isloading = true
               this.selectedFile = e.target.files[0]; // Store the selected file in selectedFile property

               try {
                  const formData = new FormData();
                  formData.append('image', this.selectedFile);

                  const response = await fetch('https://api.imgbb.com/1/upload?key=6d9e72da0846d4357c13a69737f5ca97', {
                     method: 'POST',
                     body: formData,
                  });

                  const data = await response.json();
                  console.log('ImageBB Upload Response:', data.data);

                  // Assuming you want to store the uploaded image URL somewhere, you can access it from 'data' and save it to a variable or use it directly
                  this.newTeacher.nidImage = data.data.url;
                  // You can use this 'imageUrl' for further operations or store it in your database
                  this.uploadedImage = data.data.url
                  this.isloading = false
               } catch (error) {
                  console.error('Error uploading to ImageBB:', error);
                  this.isloading = false
                  // Handle error as needed
               }
            },

            async fetchData() {
               try {
                  const divisionsResponse = await fetch('./data/divisions.json');
                  const divisionsData = await divisionsResponse.json();
                  this.divisions = divisionsData;

                  const districtsResponse = await fetch('./data/districts.json');
                  this.districts = await districtsResponse.json();

                  const upazilasResponse = await fetch('./data/upazilas.json');
                  this.upazilas = await upazilasResponse.json();

                  const unionsResponse = await fetch('./data/unions.json');
                  this.unions = await unionsResponse.json();
               } catch (error) {
                  console.error('Error fetching data:', error);
                  // Handle error appropriately
               }
            },
            hideCreateTeacherModal() {
               var createTeacherModal = new bootstrap.Modal(document.getElementById('createTeacherModal'));
               createTeacherModal.hide();
            },

            async createTeacher() {
               this.hideCreateTeacherModal();
               try {
                  const teacherData = {
                     name: this.newTeacher.name,
                     phone: this.newTeacher.phone,
                     village: this.newTeacher.village,
                     union: this.selectedUnion ? this.selectedUnion.bn_name : 'Not selected',
                     upazila: this.selectedUpazila ? this.selectedUpazila.bn_name : 'Not selected',
                     district: this.selectedDistrict ? this.selectedDistrict.bn_name : 'Not selected',
                     division: this.selectedDivision ? this.selectedDivision.bn_name : 'Not selected',
                     emergencyPhoneNumber: this.newTeacher.emergencyPhoneNumber,
                     madrasa: this.newTeacher.madrasa?._id,
                     nidImage: this.newTeacher.nidImage,
                     password: this.newTeacher.password,
                     madrasaName:this.newTeacher.madrasa?.name
                     // Assuming you have the selected file stored in this.selectedFile
                  };
                  alert(teacherData)

                  const response = await axios.post('http://0.0.0.0:8080/api//teacher/create', teacherData);
                  window.location.reload()



                  // Clear the form fields after successful creation
                  this.newTeacher = {
                     name: '',
                     phone: '',
                     village: '',
                     upazila: '',
                     district: '',
                     division: '',
                     emergencyPhoneNumber: '',
                     madrasa: '',
                  };
                  // Fetch updated list of teachers
                  var myModal = new bootstrap.Modal(document.getElementById('createTeacherModal'), {
                     keyboard: false,
                     backdrop: false,
                     focus: true
                  });

                  window.location.reload()

                  // After successful teacher creation, hide the modal
                  var createTeacherModal = new bootstrap.Modal(document.getElementById('createTeacherModal'));
                  createTeacherModal.hide();

                  console.log('Modal Instance:', myModal);
                  console.log('Before hiding modal');
                  myModal.hide();
                  console.log('After hiding modal');

                  myModal.hide();
                  this.fetchTeachers();
                  // Close the modal or perform any other necessary action
                  // ...
               } catch (error) {
                  console.error('Error creating teacher:', error.response.data);
                  // Handle error as needed
               }
            },

            searchTeachers() {
               if (this.searchQuery.trim() !== '') {
                  this.teachers = this.allTeachers.filter(teacher => {
                     return teacher.name.toLowerCase().includes(this.searchQuery.toLowerCase());
                  });
               } else {
                  this.teachers = this.allTeachers.slice();
               }
            },
            filterTeachers() {
               this.teachers = this.allTeachers
               if (this.selectedMadrasa) {
                  console.log(this.selectedMadrasa)
                  for (single of this.teachers) {}
                  // If a Madrasa is selected, filter teachers based on Madrasa ID
                  this.teachers = this.teachers.filter(teacher => teacher.madrasa.name === this.selectedMadrasa);
               } else {
                  // If no Madrasa is selected, show all teachers
                  this.fetchTeachers();
               }
            },
            async fetchMadrasas() {
               try {
                  const response = await axios.get('http://0.0.0.0:8080/api//madrasa/list');
                  console.log(response)
                  this.madrasas = response?.data;
               } catch (error) {
                  console.error('Error fetching madrasas:', error.response.data);
                  // Handle error as needed
               }
            },
            /*
            async createTeacher() {
              try {
                const response = await axios.post('https://madrasa-back.vercel.ap/api/teacher/create', this.newTeacher);
                console.log(response.data);
                // Clear the form fields after successful creation
                this.newTeacher = {
                  name: '',
                  phone: '',
                  village: '',
                  upazila: '',
                  district: '',
                  division: '',
                  nidImage: '',
                  emergencyPhoneNumber: '',
                  madrasa: '',
                };
                // Fetch updated list of teachers
                this.fetchTeachers();
                // Close the modal
                $('#createTeacherModal').modal('hide');
              } catch (error) {
                console.error('Error creating teacher:', error.response.data);
                // Handle error as needed
              }
            },*/
            async fetchTeachers() {
               try {
                  const response = await axios.get('http://0.0.0.0:8080/api//teacher/list');
                  this.teachers = response?.data;
                  console.log(response.data)
                  this.allTeachers = response.data
                  this.teacherLength=response.data.length
               } catch (error) {
                  console.error('Error fetching teachers:', error.response.data);
                  // Handle error as needed
               }
            },
            handleShowSelectedValues() {
               const selectedValues = {
                  Division: this.selectedDivision ? this.selectedDivision.bn_name : 'Not selected',
                  District: this.selectedDistrict ? this.selectedDistrict.bn_name : 'Not selected',
                  Upazila: this.selectedUpazila ? this.selectedUpazila.bn_name : 'Not selected',
                  Union: this.selectedUnion ? this.selectedUnion.bn_name : 'Not selected',
               };

               alert(JSON.stringify(selectedValues, null, 2));
            },

            selectDelete(teacher) {
               this.selectedTeacher = teacher;
            },

            async confirmDelete(id) {
               try {
                  const confirmation = confirm('are you sure you eant to delete this?');
                  if (confirmation) {
                     const response = await axios.delete('http://0.0.0.0:8080/api//teacher/delete/' + id);
                     window.location.reload()
                     fetchTeachers()


                  }
               } catch (error) {
                  console.error('Error deleting teacher  ', error)
               }
            },

            handleDivisionChange() {
               this.selectedDistrict = null;
               this.selectedUpazila = null;
               this.selectedUnion = null;
            },
            handleDistrictChange() {
               this.selectedUpazila = null;
               this.selectedUnion = null;
            },

         },
         computed: {
            filteredTeachers() {
               if (!this.searchQuery.trim()) {
                  return this.teachers;
               }
               const searchTerm = this.searchQuery.toLowerCase();
               return this.teachers.filter(teacher =>
                  teacher.name.toLowerCase().includes(searchTerm)
               );
            },


            filteredDistricts() {
               if (!this.selectedDivision) {
                  return [];
               }
               return this.districts.filter(district => district.division_id === this.selectedDivision.id);
            },
            filteredUpazilas() {
               if (!this.selectedDistrict) {
                  return [];
               }
               return this.upazilas.filter(upazila => upazila.district_id === this.selectedDistrict.id);
            },
            filteredUnions() {
               if (!this.selectedUpazila) {
                  return [];
               }
               return this.unions.filter(union => union.upazilla_id === this.selectedUpazila.id);
            },


         },
         watch: {
            searchQuery(newVal, oldVal) {
               this.filterTeachers();
            }
         },
         created() {
            this.fetchData();
         }

      });
   </script>

</body>

</html>